<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<body layout:fragment="body">
	<div class="container">
		<form role="form" method="post" th:action="@{/web/employee/{employeeId}/update(employeeId=${employee.id})}" th:object="${employee}">
			<div class="mb-3">
				<label for="firstname" class="form-label">Firstname</label>
				<input 
				      type="text" 
				      class="form-control" 
				      id="firstname" 
				      name="firstname" 
				      placeholder="Firstname" 
				      th:field="*{firstname}"/>
				<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-danger"></p>
			</div>
			<div class="mb-3">
				<label for="lastname" class="form-label">Lastname</label>
				<input 
				      type="text" 
				      class="form-control" 
				      id="lastname" 
				      name="lastname" 
				      placeholder="Lastname" 
				      th:field="*{lastname}"/>
				<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="text-danger"></p>
			</div>
			<div class="mb-3">
				<label for="gender" class="form-label">Lastname</label>
				<input 
				      type="text" 
				      class="form-control" 
				      id="gender" 
				      name="gender" 
				      placeholder="Gender" 
				      th:field="*{gender}"/>
				<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></p>
			</div>
			<div class="mb-3">
				<label for="age" class="form-label">Age</label>
				<input 
				      type="text" 
				      class="form-control" 
				      id="age" 
				      name="age"
				      placeholder="Age"
				      th:field="*{age}"/>
				<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></p>
			</div>
			<div class="mb-3">
				<label for="salary" class="form-label">Salary</label>
				<input 
				      type="text" 
				      class="form-control" 
				      id="salary" 
				      name="salary"
				      placeholder="Salary"
				      th:field="*{salary}"/>
				<p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="text-danger"></p>
			</div>		
			<div class="mb-3">
				<label for="summary" class="form-label">Summary</label>
				<input 
				      type="text" 
				      class="form-control" 
				      id="summary"
				      name="summary" 
				      placeholder="Summary"
				      th:field="*{summary}"/>
				<p th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="text-danger"></p>
			</div>
			<div class="mb-3">
				<label for="imgUrl" class="form-label">Image URL</label>
				<input 
				      type="text" 
				      class="form-control" 
				      id="imgUrl"
				      name="imgUrl" 
				      placeholder="Image URL"
				      th:field="*{imgUrl}"/>
				<p th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}" class="text-danger"></p>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>